In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Maumere,ID,10/28/21 15:28,-8.6199,122.2111,82.40,79,95,2.86
1,1,Sumbawanga,TZ,10/28/21 15:28,-7.9667,31.6167,79.95,20,26,6.89
2,2,Severo-Kurilsk,RU,10/28/21 15:28,50.6789,156.1250,41.85,88,87,3.29
3,3,Havelock,US,10/28/21 15:28,34.8791,-76.9013,70.02,77,75,5.99
4,4,Mabay,PH,10/28/21 15:28,6.0577,124.4666,79.48,84,21,4.38

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Maumere,ID,10/28/21 15:28,-8.6199,122.2111,82.40,79,95,2.86
1,1,Sumbawanga,TZ,10/28/21 15:28,-7.9667,31.6167,79.95,20,26,6.89
4,4,Mabay,PH,10/28/21 15:28,6.0577,124.4666,79.48,84,21,4.38
8,8,Arraial Do Cabo,BR,10/28/21 15:28,-22.9661,-42.0278,82.36,78,75,18.41
11,11,Atuona,PF,10/28/21 15:28,-9.8000,-139.0333,77.81,71,57,16.84
17,17,Gbadolite,CD,10/28/21 15:28,4.2833,21.0167,82.81,76,100,0.96
21,21,Lingao,CN,10/28/21 15:28,19.9103,109.6859,75.27,92,100,14.58
25,25,Mumford,GH,10/28/21 15:28,5.2618,-0.7590,81.54,74,17,6.91
26,26,Kapaa,US,10/28/21 15:27,22.0752,-159.3190,75.18,98,90,11.50
27,27,Isangel,VU,10/28/21 15:28,-19.5500,169.2667,75.38,88,1,8.86

In [21]:
preferred_cities_df = preferred_cities_df.dropna()

In [22]:
preferred_cities_df.count()

City_ID       186
City          186
Country       186
Date          186
Lat           186
Lng           186
Max Temp      186
Humidity      186
Cloudiness    186
Wind Speed    186
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0           Maumere      ID     82.40  -8.6199  122.2111
1        Sumbawanga      TZ     79.95  -7.9667   31.6167
4             Mabay      PH     79.48   6.0577  124.4666
8   Arraial Do Cabo      BR     82.36 -22.9661  -42.0278
11           Atuona      PF     77.81  -9.8000 -139.0333
17        Gbadolite      CD     82.81   4.2833   21.0167
21           Lingao      CN     75.27  19.9103  109.6859
25          Mumford      GH     81.54   5.2618   -0.7590
26            Kapaa      US     75.18  22.0752 -159.3190
27          Isangel      VU     75.38 -19.5500  169.2667

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Maumere,ID,82.40,-8.6199,122.2111,Sylvia Hotel
1,Sumbawanga,TZ,79.95,-7.9667,31.6167,Matamba II Guest House
4,Mabay,PH,79.48,6.0577,124.4666,Bautista Lodging House
8,Arraial Do Cabo,BR,82.36,-22.9661,-42.0278,Pousada Porto Praia
11,Atuona,PF,77.81,-9.8000,-139.0333,Villa Enata
17,Gbadolite,CD,82.81,4.2833,21.0167,Zenic
21,Lingao,CN,75.27,19.9103,109.6859,Lingao Ditai Inn
25,Mumford,GH,81.54,5.2618,-0.7590,Spanish Villa
26,Kapaa,US,75.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
27,Isangel,VU,75.38,-19.5500,169.2667,Tanna Lodge

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))